<template>
  <div>
    <ListCollectionBar
      v-if="canShowCollectionBar"
      @create-collection="showCreateCollectionModal = true"
    />

    <div class="grid justify-items-stretch lg:grid-cols-4 gap-4 md:grid-cols-2">
      <div v-for="list in lists" :key="list.id" class="mb-3">
        <List class="mx-2" :list="list" @list-deleted="handleListDeleted" />
      </div>
    </div>

    <div class="flex justify-center mt-4 ml-2">
      <CreateListButton @click="showCreateListModal = true" />
    </div>

    <CreateListModal
      :showModal="showCreateListModal"
      @closed="showCreateListModal = false"
      @list-created="handleListCreated"
    />

    <CreateCollectionModal
      :showModal="showCreateCollectionModal"
      @closed="showCreateCollectionModal = false"
    />
  </div>
</template>

<script>
import { v4 as uuidv4 } from 'uuid'
import List from '../components/List'
import { mapGetters } from 'vuex'
import CreateListButton from '../components/CreateListButton'
import ListCollectionBar from '../components/ListCollectionBar'
import CreateListModal from '../components/modal/CreateListModal'
import CreateCollectionModal from '../components/modal/CreateCollectionModal'

export default {
  name: 'ListView',
  components: {
    List,
    CreateListModal,
    CreateListButton,
    ListCollectionBar,
    CreateCollectionModal
  },
  computed: {
    ...mapGetters({
      lists: 'app/selectedCollectionLists',
      canShowCollectionBar: 'app/canShowCollectionBar'
    })
  },
  data() {
    return {
      showCreateListModal: false,
      showCreateCollectionModal: false
    }
  },
  methods: {
    handleListDeleted(list) {
      this.lists.splice(this.lists.indexOf(list), 1)
      const listIndex = this.lists.findIndex((_list) => _list.id === list.id)

      this.lists = this.lists.splice(listIndex)

      this.$store.dispatch('app/deleteList', list)
    },
    handleListCreated(list) {
      const listItem = {
        id: uuidv4(),
        name: list.name,
        color: list.color
      }

      this.$store.dispatch('app/createList', listItem)
    }
  }
}
</script>
