<template>
  <ModalBase
    title="Create List"
    btn-color="indigo"
    btn-text="Create List"
    :btn-action="handleActionButtonClick"
    :btn-disabled="!formIsDirty"
    :showModal="open"
    @closed="open = false"
  >
    <template v-slot:modal-content>
      <div>
        <!-- List Name Input -->
        <div class="mb-2 pt-0">
          <input
            v-model="form.name"
            type="text"
            placeholder="List Name"
            class="
              mt-2
              px-3
              py-3
              placeholder-blueGray-900
              text-blueGray-100
              relative
              bg-white
              rounded
              text-lg
              border-1
              shadow-md
              outline-none
              w-full
            "
          />
        </div>

        <!-- List Color Selector -->
        <div class="mb-3 pt-4 flex justify-between">
          <!-- Color Rows -->
          <div v-for="color in colors" :key="color.name" class="rounded mx-4">
            <div
              @click="handleColorSelect(color)"
              class="w-10 h-10 rounded shadow"
              :class="{
                [color.class]: true,
                'ring-4': this.form.color.name == color.name,
                [`ring-${color.name.toLowerCase()}-700`]:
                  this.form.color.name == color.name
              }"
            ></div>
            <span>{{ capitalize(color.name) }}</span>
          </div>
        </div>
      </div>
    </template>
  </ModalBase>
</template>

<script>
import ModalBase from './ModalBase'
import { colors } from '../data/colors'
import { capitalize } from '../../utils/string'

export default {
  name: 'CreateListModal',
  components: {
    ModalBase
  },
  props: {
    showModal: Boolean
  },
  computed: {
    formIsDirty() {
      if (this.form.name !== '' && this.form.name.length >= 3) {
        if (this.form.color && this.form.color.name) {
          return true
        }
      }

      return false
    }
  },
  watch: {
    open(boolean) {
      if (boolean == false) {
        this.$emit('closed')
      }
    },
    showModal(boolean) {
      this.open = boolean
    }
  },
  data() {
    return {
      colors,
      open: this.showModal,
      form: {
        name: '',
        color: {}
      }
    }
  },
  methods: {
    capitalize,
    handleColorSelect(color) {
      this.form.color = color
    },
    handleActionButtonClick() {
      this.$emit('list-created', this.form)
      this.open = false
      this.form.name = ''
      this.form.color = {}
    }
  }
}
</script>
