<template>
  <TransitionRoot as="template" :show="open">
    <Dialog
      as="div"
      static
      class="fixed z-10 inset-0 overflow-y-auto"
      @close="open = false"
      :open="open"
    >
      <div
        class="
          flex
          items-end
          justify-center
          min-h-screen
          pt-4
          px-4
          pb-20
          text-center
          sm:block
          sm:p-0
          mt-12
        "
      >
        <TransitionChild
          as="template"
          enter="ease-out duration-300"
          enter-from="opacity-0"
          enter-to="opacity-100"
          leave="ease-in duration-200"
          leave-from="opacity-100"
          leave-to="opacity-0"
        >
          <DialogOverlay
            class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
          />
        </TransitionChild>

        <!-- This element is to trick the browser into centering the modal contents. -->
        <!-- <span
          class="hidden sm:inline-block sm:align-middle sm:h-screen"
          aria-hidden="true"
          >&#8203;</span
        >-->
        <TransitionChild
          as="template"
          enter="ease-out duration-300"
          enter-from="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          enter-to="opacity-100 translate-y-0 sm:scale-100"
          leave="ease-in duration-200"
          leave-from="opacity-100 translate-y-0 sm:scale-100"
          leave-to="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        >
          <div
            class="
              inline-block
              align-bottom
              bg-white
              rounded-lg
              text-left
              overflow-hidden
              shadow-xl
              transform
              transition-all
              sm:my-8
              sm:align-middle
              sm:max-w-lg
              sm:w-full
            "
          >
            <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
              <div class="sm:flex sm:items-start">
                <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                  <DialogTitle
                    as="h3"
                    class="text-lg leading-6 font-medium text-gray-900"
                  >
                    {{ title }}
                  </DialogTitle>
                  <div class="mt-2">
                    <slot name="modal-content"></slot>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse"
            >
              <button
                type="button"
                :disabled="btnDisabled"
                :class="actionButtonClasses"
                class="
                  w-full
                  inline-flex
                  justify-center
                  rounded-md
                  border border-transparent
                  shadow-sm
                  px-4
                  py-2
                  text-base
                  font-medium
                  text-white
                  focus:outline-none
                  focus:ring-2 focus:ring-offset-2
                  sm:ml-3
                  sm:w-auto
                  sm:text-sm
                "
                @click="handleActionButtonClick"
              >
                {{ btnText }}
              </button>
              <button
                type="button"
                class="
                  mt-3
                  w-full
                  inline-flex
                  justify-center
                  rounded-md
                  border border-gray-300
                  shadow-sm
                  px-4
                  py-2
                  bg-white
                  text-base
                  font-medium
                  text-gray-700
                  hover:bg-gray-50
                  focus:outline-none
                  sm:mt-0
                  sm:ml-3
                  sm:w-auto
                  sm:text-sm
                "
                @click="open = false"
                ref="cancelButtonRef"
              >
                Cancel
              </button>
            </div>
          </div>
        </TransitionChild>
      </div>
    </Dialog>
  </TransitionRoot>
</template>

<script>
import {
  Dialog,
  DialogOverlay,
  DialogTitle,
  TransitionChild,
  TransitionRoot
} from '@headlessui/vue'

export default {
  name: 'ModalBase',
  components: {
    Dialog,
    DialogOverlay,
    DialogTitle,
    TransitionChild,
    TransitionRoot
  },
  props: {
    title: String,
    showModal: Boolean,
    btnText: String,
    btnColor: String,
    btnAction: Function,
    btnDisabled: Boolean
  },
  computed: {
    actionButtonClasses() {
      const btnColor = this.btnColor ?? 'blue'

      if (btnColor == 'blue') {
        return {
          'bg-blue-600': true,
          'hover:bg-blue-700': true,
          'opacity-50': this.btnDisabled
        }
      }

      if (btnColor == 'indigo') {
        return {
          'btn-indigo': true,
          btn: true,
          'opacity-50': this.btnDisabled
        }
      }

      if (btnColor == 'red') {
        return {
          'bg-red-600': true,
          'hover:bg-red-700': true,
          'opacity-50': this.btnDisabled
        }
      }

      return {}
    }
  },
  watch: {
    open(boolean) {
      if (boolean == false) {
        this.$emit('closed')
      }
    },
    showModal(boolean) {
      this.open = boolean
    }
  },
  data() {
    return {
      open: this.showModal
    }
  },
  methods: {
    handleActionButtonClick() {
      this.open = false

      if (this.btnAction) {
        this.btnAction()
      }
    }
  }
}
</script>
