<template>
  <div class="">
    <input
      spellcheck="true"
      v-on:keyup.enter="handleCreateItem"
      v-model="textValue"
      type="text"
      placeholder="Create new item"
      class="
        list-item-text
        px-3
        py-3
        placeholder-gray-400
        text-blueGray-600
        relative
        bg-white bg-white
        text-sm
        outline-none
        border-0
        w-full
      "
    />
  </div>
</template>

<script>
export default {
  name: 'ListItemTextbox',
  data() {
    return {
      textValue: ''
    }
  },
  methods: {
    handleCreateItem() {
      this.$emit('item-created', this.textValue)
      this.textValue = ''
    }
  }
}
</script>
