<template>
  <div
    class="
      flex flex-row
      justify-center
      mb-4
      justify-items-center
      items-baseline
    "
  >
    <div
      class="collection-item disable-user-select"
      v-for="item in collections"
      :key="item.id"
      :class="{
        'ring-4': selectedCollectionId === item.id,
        [item.color.class]: item.color.class,
        [`ring-${item.color.name.toLowerCase()}-700`]:
          selectedCollectionId === item.id
      }"
      @click="handleCollectionClick(item.id)"
    >
      {{ item.name }}
    </div>

    <div
      class="create-collection-item disable-user-select"
      @click="$emit('create-collection')"
    >
      Create Collection
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex'

export default {
  name: 'ListCollectionBar',
  components: {},
  computed: {
    ...mapState('app', ['collections', 'selectedCollectionId']),
    ...mapGetters({
      selectedCollection: 'app/selectedCollection'
    })
  },
  data() {
    return {}
  },
  methods: {
    handleCollectionClick(collectionId) {
      this.$store.dispatch('app/setSelectedCollectionId', collectionId)
    }
  }
}
</script>

<style>
.collection-item {
  @apply bg-indigo-500 px-6 py-3 text-white text-center font-extrabold rounded-full mx-2 cursor-pointer;
}

.create-collection-item {
  @apply bg-white px-6 py-3 text-gray-400 border-2 border-gray-400 border-dashed text-center font-extrabold rounded-full mx-2;
}

.create-collection-item:hover {
  @apply cursor-pointer border-green-400 text-green-400;
}
</style>
