<template>
  <div
    class="
      justify-self-auto
      flex
      content-start
      flex-col
      shadow
      rounded-lg
      border-1
      overflow-hidden
    "
  >
    <!-- List Header -->
    <div
      class="flex flex-row justify-between items-baseline"
      :class="{ [list.color.class]: true }"
    >
      <div class="list-title text-center text-white mb-1 mt-1 ml-4">
        {{ list.name }}
      </div>

      <!-- Delete Circle -->
      <div
        @click="handleListDelete"
        class="
          float-right
          rounded-full
          h-4
          w-4
          mr-2
          bg-red-500
          shadow-md
          cursor-pointer
        "
      ></div>
    </div>

    <!-- List -->
    <div class="divide-y divide-gray-200">
      <!-- Create Item -->
      <div>
        <ListItemTextbox @item-created="handleItemCreated" />
      </div>

      <!-- List Items -->
      <div v-for="item in sortedItems" :key="item.id" class="list-item">
        <!-- List Item Text -->
        <div
          class="list-item-text pr-4 flex-grow break-all"
          :class="{ 'line-through': item.checked }"
        >
          {{ item.text }}
        </div>

        <!-- List Item Checkbox -->
        <div class="float-right">
          <input
            type="checkbox"
            @click="handleItemChecked(item)"
            class="rounded form-checkbox text-green-400 translate-x-1"
            :checked="item.checked"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { v4 as uuidv4 } from 'uuid'
import ListItemTextbox from './ListItemTextbox'
import { mapGetters } from 'vuex'

export default {
  name: 'List',
  props: {
    list: Object
  },
  components: {
    ListItemTextbox
  },
  methods: {
    handleListDelete() {
      this.$emit('list-deleted', this.list)
    },
    handleItemCreated(text) {
      const item = {
        text,
        id: uuidv4(),
        checked: false
      }

      this.$store.dispatch('app/createListItem', { listId: this.list.id, item })
    },
    handleItemChecked(item) {
      item.checked = !item.checked

      this.$store.dispatch('app/updateListItem', { listId: this.list.id, item })
    }
  },
  computed: {
    ...mapGetters({
      getListItems: 'app/getListItems'
    }),
    showDarkClasses() {
      return this.list.color.name === 'red'
    },
    sortedItems() {
      return this.getListItems(this.list.id)
        .slice()
        .sort((a, b) => {
          return a.checked === b.checked ? 0 : a.checked ? 1 : -1
        })
    }
  },
  data() {
    return {
      items: []
    }
  }
}
</script>

<style scoped>
input[type='checkbox'] {
  transform: scale(1.3);
}

.list-item {
  @apply flex flex-row content-between px-3 py-2 break-words;
}
</style>
