<template>
  <Navbar />

  <div class="container mx-auto">
    <router-view class="mt-5" />
  </div>
</template>

<script>
import Navbar from './components/Navbar'

export default {
  name: 'App',
  components: {
    Navbar
  }
}
</script>
