@tailwind base;
@tailwind components;
@tailwind utilities;

$list-title-font-size: 1.6em;
$list-item-font-size: 1.4em;

.list-title {
  font-size: $list-title-font-size;
}

.list-item-text {
  font-size: $list-item-font-size;
}

.disable-user-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.btn {
  @apply font-bold py-2 px-4 rounded;
}

.btn-indigo {
  @apply bg-indigo-500 text-white;
}

.btn-indigo:hover {
  @apply bg-indigo-700;
}

.btn-blue {
  @apply bg-blue-500 text-white;
}

.btn-blue:hover {
  @apply bg-blue-700;
}
